<h1>Property-Binding</h1>

<p>
    Este segundo ejemplo nos muestra una comunicación unicamente del TS/JS al HTML 
    sin posibilidad de edición, por ejemplo, una lista:
</p>

<mat-nav-list>
    <mat-list-item *ngFor="let girl of girls">
        <p>{{ girl }}</p>
    </mat-list-item>
</mat-nav-list>