<h1>Event-Binding</h1>
<p>
    Este tipo de binding hace referencia a comunicación del DOM ó HTML al TS/JS, por ejemplo, clicks,
    posicionarse en una ventana, presionar una tecla, etc:
</p>

<button 
    mat-button color="primary"
    (click)="onClick()"
>¡Clickeame!
</button> 
<button 
    mat-button color="primary"
    (click)="onDelete()"
>¡Clickeame para borrar!
</button>
{{message}}