<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle routerLink="/home">Home</mat-button-toggle>
  <mat-button-toggle routerLink="padre-hijo">Padre-hijo</mat-button-toggle>
  <mat-button-toggle >Buttons</mat-button-toggle>
  <mat-button-toggle routerLink="data-binding">Data-Binding</mat-button-toggle>
  <mat-button-toggle routerLink="contador">Contador</mat-button-toggle>
</mat-button-toggle-group>
<hr>
<h1>Bienvenido a tu Sandbox Rodolfo</h1>
<hr>
<router-outlet></router-outlet>