<h1>Two-Way Data-Binding</h1>
<p>
    Este ejemplo habla del two-way data-binding que basicamente todo el rato esta en comunicación 
    el TS o JS con el HTML y lo manejaremos en este ejemplo con el ng-model:
</p>
<br>
<p><input type="text" [(ngModel)]="saludo"> {{saludo}} </p>