<h1>Esto es un contador {{value}}</h1>
<button mat-button color="primary" (click)="change('si')">Incrementar</button>
<button mat-button color="primary" (click)="reset()">Resetear</button>
<button mat-button color="primary" (click)="change()">Decrementar</button>